{{>adminheader}}
<section>
  <div>
    {{>adminsidebar}}
  </div>
  <section class="p-5" style="margin-left: 225px;  margin-top: 60px;">


    <table align="center" cellspacing="0" cellpadding="6" width="95%"
      style="border:0;color:#000000;line-height:150%;text-align:left;font:300 14px/30px &#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;"
      border=".5px">
      <thead>
        <tr style="background:#efefef">
          <th scope="col" width="20%" style="text-align:center;border:1px solid #eee">User</th>
       
          <th scope="col" width="20%" style="text-align:center;border:1px solid #eee">Ordered At</th>
          <th scope="col" width="20%" style="text-align:center;border:1px solid #eee">Status</th>
          <th scope="col" width="20%" style="text-align:center;border:1px solid #eee"></th>
        </tr>
      </thead>
      {{#if orders}}
      {{#each orders}}
      <tbody class="orderdetails">

        {{#each orderitem}}
        {{#if @first}}
        <tr width="100%">
          <td width="25%"
            style="text-align:center;vertical-align:middle;border-left:1px solid #eee;border-bottom:1px solid #eee;border-right:1px solid #eee;border-top:0">
            <span>{{../address.name}}</span>
          </td>

   
       
          <td width="15%"
            style="text-align:center;vertical-align:middle;border-left:1px solid #eee;border-bottom:1px solid #eee;border-right:1px solid #eee;border-top:0">
            <span>{{../OrdercreatedAt}}</span>
          </td>
          <td width="15%" class="text-danger"
            style="text-align:center;vertical-align:middle;border-left:1px solid #eee;border-bottom:1px solid #eee;border-right:1px solid #eee;border-top:0">
            <span>{{../status}}</span>
          </td>
          <td
            style="text-align:center;vertical-align:middle;border-left:1px solid #eee;border-bottom:1px solid #eee;border-right:1px solid #eee;border-top:0">
            <a href="/admin/orderaction/{{../_id}}" class="btn btn-primary">Action</a>
          </td>

        </tr>
        {{/if}}
        {{/each}}
      </tbody>

      {{/each}}
      {{/if}}
    </table>
  

    </tr>
    </tbody>
    </table>

  </section>

</section>