{{!-- <nav class="navbar navbar-expand-lg admin_header">
  <div class="container-fluid ">
    <div>
      <img src="/images/download.png" alt="" width="80" height="80">
    </div>
    <div>
      <span class="pe-3">Admin-Panel</span>
    </div>
  </div>
</nav>

<div class="d-flex justify-content-end">
  <div >
    <input type="search" class="admin-search" placeholder="search...">
  <i class="fa fa-search"></i>
  </div>

</div> --}}