<section class="d-flex justify-content-center align-items-center">

    <div  class="col-md-4 col-12 p-5 mt-5" style="background-color: #ddddddc9;">
              <form action="/admin/addcategory" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Category Name</label>
          <input type="text" class="form-control" name="categoryname" aria-describedby="emailHelp" required />

        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Add image</label>
          <input class="form-control" type="file" name="image" required />
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn fontcolor login-btn">Submit</button>
        </div>
      </form>
    </div>

</section>