<nav class="nav-bar nav-bg d-flex align-items-center px-5 admin_header" style="z-index: 1;">
    <div class="ms-3">
        <h2>Admin Panel</h2>
    </div>
    <div class="profile d-flex align-items-center gap-2 ms-auto">
        <div class="profile_photo">
            <img class="img-fluid" src="/images/download.png" alt="">
        </div>

    </div>

    </div>
</nav>
