{{!-- <nav class="navbar navbar-expand-lg header">
    <div class="container-fluid ">
        <div>
            <img src="/images/download.png" alt="" width="80" height="80">
        </div>
    </div>
</nav>
<div class="container mt-2">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/shoes_banner/10899489.jpg" class="d-block w-100 h-542px carosilimg" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/shoes_banner/250746.jpg" class="d-block w-100 h-542px carosilimg" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/shoes_banner/photo-1542291026-7eec264c27ff.jpeg"
                    class="d-block w-100 h-542px img-fluid carosilimg" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="/images/shoes_banner/Banner3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                    <a href="#" class="btn "><i class="fab fa-github"></i> Github</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="/images/shoes_banner/Banner2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> Visit Site</a>
                    <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="/images/shoes_banner/Banner1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                    <a href="#" class="btn "><i class="fab fa-github"></i> Github</a>
                </div>
            </div>
        </div>




    </div> --}}

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid fs-4">
                <div class=".img-fluid me-5">
                    <img src="/images/download.png" alt="" height="80px" width="80px">
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">orders</a>
                        </li>


                    </ul>

                    {{!-- <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> --}}
                    <div class="dropdown pe-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{#if user}}
                            {{user.name}}
                            {{else}}
                            Account
                            {{/if}}

                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            {{#if user}}
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            {{else}}
                            <li><a class="dropdown-item" href="/login">Login</a></li>
                            {{/if}}

                            {{!-- <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>