{{>userheader}}


<div class="container" style="margin-top:5%;">
	<div class="row">
        
        <div class="jumbotron p-4" style="box-shadow: 2px 2px 4px #000000;">
            	<div class="text-center p-3" style="    font-size: 90px; color: seagreen;"><i class="fa fa-check main-content__checkmark" id="checkmark"></i></div>
            <h2 class="text-center">YOUR ORDER HAS BEEN RECEIVED</h2>
          <h3 class="text-center">Thank you for shopping with us</h3>
          
          <p class="text-center">Your order is:  #100000023</p>
          <p class="text-center">You will receive an order confirmation email with details of your order and a link to track your process.</p>
            <center>
                
                <div > 
                <a href="/orderdetials" class="text-primary"><u> View orderdetails</u></a>
            </div>
            </center>
            <center>
                
                <div class="btn-group" style="margin-top:30px;">
                
                <a href="/" class="btn btn-lg btn-warning">Home</a>
            </div></center>
        </div>
	</div>
</div>
    {{>userfooter}}
    <style>
	body{
		width: 100%;
	}
</style>